<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Yabe</display-name>
  <welcome-file-list>
    <welcome-file>login</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <resource-ref>
    <description>CS336 database</description>
    <res-ref-name>jdbc/cs336</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.cs336.control.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.cs336.control.LogoutController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PageController</servlet-name>
    <servlet-class>com.cs336.control.PageController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EndUserController</servlet-name>
    <servlet-class>com.cs336.control.EndUserController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CrController</servlet-name>
    <servlet-class>com.cs336.control.CrController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.cs336.control.AdminController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TicketController</servlet-name>
    <servlet-class>com.cs336.control.TicketController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>com.cs336.control.ProfileController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetUser</servlet-name>
    <servlet-class>com.cs336.dao.usr.GetUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetEndUser</servlet-name>
    <servlet-class>com.cs336.dao.usr.SetEndUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AnswerTicket</servlet-name>
    <servlet-class>com.cs336.dao.ticket.AnswerTicket</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateAuction</servlet-name>
    <servlet-class>com.cs336.dao.auction.UpdateAuction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateAuction</servlet-name>
    <servlet-class>com.cs336.dao.auction.CreateAuction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateBid</servlet-name>
    <servlet-class>com.cs336.dao.auction.CreateBid</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateTicket</servlet-name>
    <servlet-class>com.cs336.dao.ticket.CreateTicket</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateWishList</servlet-name>
    <servlet-class>com.cs336.dao.auction.CreateWishList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateCRep</servlet-name>
    <servlet-class>com.cs336.dao.usr.CreateCRep</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendReport</servlet-name>
  	<servlet-class>com.cs336.obj.sales.SendReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageController</servlet-name>
    <url-pattern>/page</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EndUserController</servlet-name>
    <url-pattern>/enduser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CrController</servlet-name>
    <url-pattern>/custrep</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TicketController</servlet-name>
    <url-pattern>/ticketpage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUser</servlet-name>
    <url-pattern>/userinf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetEndUser</servlet-name>
    <url-pattern>/createacc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AnswerTicket</servlet-name>
    <url-pattern>/answerticket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAuction</servlet-name>
    <url-pattern>/updateauc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateAuction</servlet-name>
    <url-pattern>/createauc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateBid</servlet-name>
    <url-pattern>/createbid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateTicket</servlet-name>
    <url-pattern>/createticket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateWishList</servlet-name>
    <url-pattern>/createwl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateCRep</servlet-name>
    <url-pattern>/createcr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendReport</servlet-name>
  	<url-pattern>/getStats</url-pattern>
  </servlet-mapping>
</web-app>